* {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(152, 238, 238)
}

/* Index page styles */
.odin-recipes-header {
    /* font-family: Add when I fix the fonts issue on my machine */
    font-size: 60px;
    color: purple;
    background-color: white;
    border: 10px dotted purple;
    width: 600px;
    text-align: center;
    padding: 20px;
    margin: 10px auto;
}

/* Below isn't working :( */
.index-desc {
    background-color: white;
}