* {
    box-sizing: border-box;
    margin: 0;
}

.page-color {
    background-color: rgb(152, 238, 238);
}
/* Index page styles */
.odin-recipes-header {
    /* font-family: Add when I fix the fonts issue on my machine */
    font-size: 60px;
    color: purple;
    background-color: white;
    border: 10px dotted purple;
    width: 600px;
    text-align: center;
    padding: 20px;
    margin: 10px auto;
}

.index-container {
    font-size: 30px;
    background-color: white;
    border: 5px dotted purple;
    width: 700px;
    height: 500px;
    padding: 20px;
    margin: 40px auto;
}

.index-desc {
    background-color: white;
    margin-bottom: 20px;
}