* {
    box-sizing: border-box;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.index.page-color {
    background-color: rgb(100, 219, 219);
}

/* Index page styles */

.index .page-title,
.index.container,
.recipes-links.container {
    text-align: center;
}

.index .page-title,
.index.container {
    background-color: white;
    border-radius: 50px
}

.index .page-title,
.recipes-links.container {
    font-size: 60px;

}
.index .page-title {
    /* font-family: Add when I fix the fonts issue on my machine */
    color: purple;
    border: 10px dotted rgb(255, 191, 14);
    width: 500px;
    padding: 20px;
    margin: 10px auto;
}

.index.container {
    font-size: 40px;
    border: 5px dotted purple;
    width: 1200px;
    height: 700px;
    padding: 20px auto;
    margin: 40px auto;
}

.index.desc {
    color: purple;
    margin: 30px 10px 50px 10px;
}

.recipes-links.container {
    background-color: rgb(206, 255, 255);
    list-style-type: none;
    padding: 30px 0;
    margin: 40px auto 50px auto;
    border: 5px dotted rgb(255, 191, 14);
    border-radius: 50px;
    width: 700px;
    height: 300px;
}

#banana-muffins-link,
#shells-and-cheese-link,
#creamy-beef-gnocchi-link {
    text-decoration: none;
}

#banana-muffins-link:hover,
#shells-and-cheese-link:hover,
#creamy-beef-gnocchi-link:hover {
    color: purple;
}

#banana-muffins-link {
    color: burlywood;
}

#shells-and-cheese-link {
    color: rgb(255, 191, 14);
}

#creamy-beef-gnocchi-link {
    color: rgb(107, 84, 58);
}

/* Banana Muffins Styles */

.banana-muffin.page-color {
    background-color: burlywood;
}

#banana-muffins {
    display: inline-block;
}

.banana-muffin .page-title {
    background-color: rgb(233, 219, 202);
    text-align: center;
    width: 500px;
    border: 5px dotted black;
    border-radius: 20px;
    margin: 10px auto;
    font-size: 45px;
}

.banana-muffin .home.button {
    display: block;
    padding: 5px;
    text-align: center;
    width: 80px;
    background-color: rgb(233, 219, 202);
    border: 0px solid white;
    border-radius: 10px;
    font-size: large;
    margin: 10px;
    text-decoration: none;
}

.banana-muffin .home.button:hover {
    background-color: white;
}

img {
    display: block;
    margin: 20px auto 0px auto;
    border: 5px solid black;
    border-radius: 20px;
}

figure {
    text-align: center;
}

figcaption {
    margin: 0px;
}

.banana-muffin .container {
    width: 800px;
    margin: 10px auto;
    border: 5px dotted black;
    border-radius: 20px;
    background-color: rgb(233, 219, 202);
}

.container {
    padding: 30px;
    font-size: 22px;
}

.container h2 {
    padding: 0px 10px;;
}

.container .desc {
    margin: 0px 10px 10px 10px;
}

.container h3 {
    margin: 20px 0px 0px 10px;
}

/* Shells and Cheese styles */

.shells-and-cheese.page-color {
    background-color: rgb(255, 207, 75);
}

.shells-and-cheese .page-title {
    background-color: rgb(255, 231, 165);
    text-align: center;
    width: 500px;
    border: 5px dotted black;
    border-radius: 20px;
    margin: 10px auto;
    font-size: 45px;
}

.shells-and-cheese .home.button {
    display: block;
    padding: 5px;
    text-align: center;
    width: 80px;
    background-color: rgb(255, 231, 165);
    border: 0px solid white;
    border-radius: 10px;
    font-size: large;
    margin: 10px;
    text-decoration: none;
}

.shells-and-cheese .home.button:hover {
    background-color: white;
}

img {
    display: block;
    margin: 20px auto 0px auto;
    border: 5px solid black;
    border-radius: 20px;
}

figure {
    text-align: center;
}

figcaption {
    margin: 0px;
}

.shells-and-cheese .container {
    width: 800px;
    margin: 10px auto;
    border: 5px dotted black;
    border-radius: 20px;
    background-color: rgb(255, 231, 165);
}

.container {
    padding: 30px;
    font-size: 22px;
}

.container h2 {
    padding: 0px 10px;;
}

.container .desc {
    margin: 0px 10px 10px 10px;
}

.container h3 {
    margin: 20px 0px 0px 10px;
}

/* Creamy Beef Gnocchi */

.creamy-beef-gnocchi.page-color {
    background-color: rgb(161, 130, 94);
}

.creamy-beef-gnocchi .page-title {
    background-color: rgb(214, 194, 139);
    text-align: center;
    width: 500px;
    border: 5px dotted black;
    border-radius: 20px;
    margin: 10px auto;
    font-size: 45px;
}

.creamy-beef-gnocchi .home.button {
    display: block;
    padding: 5px;
    text-align: center;
    width: 80px;
    background-color: rgb(214, 194, 139);
    border: 0px solid white;
    border-radius: 10px;
    font-size: large;
    margin: 10px;
    text-decoration: none;
}

.creamy-beef-gnocchi .home.button:hover {
    background-color: white;
}

img {
    display: block;
    margin: 20px auto 0px auto;
    border: 5px solid black;
    border-radius: 20px;
}

figure {
    text-align: center;
}

figcaption {
    margin: 0px;
}

.creamy-beef-gnocchi .container {
    width: 800px;
    margin: 10px auto;
    border: 5px dotted black;
    border-radius: 20px;
    background-color: rgb(214, 194, 139);
}

.container {
    padding: 30px;
    font-size: 22px;
}

.container h2 {
    padding: 0px 10px;;
}

.container .desc {
    margin: 0px 10px 10px 10px;
}

.container h3 {
    margin: 20px 0px 0px 10px;
}